#biografija {
border-left: 8px solid blue;
padding: 15px;
marging-bottom: 20px;
font-size: 18px;
background-color: #eef5ff;
}

#postignuca {
border-left: 2px dashed green;
padding: 5px;
background-color: #f0fff0;
}

#postignuca li {
marging-bottom: 5px;
font-weight: bold;
}

#citat {
border: 3px solid red;
padding: 10px;
font-size: 22px;
background-color: #ffff2f;
width: fit-content;

}
