* {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

main {
    border: 1px solid grey;
    width: 542px;
}

a {
    display: inline-block;
    padding: 20px;
    margin: 0;
    border-bottom: 2px solid transparent;
    color: #5B5876;
    text-align: center;
    text-decoration: none;
}

a:hover {
    color: white;
    border-bottom-color: white;
}

nav {
    background-color: #6200ee;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

section {
    font-size: 0px;
}

img {
    object-fit: cover;
}

img {
    width: 256px;
    height: 256px;
}

img {
    margin: 10px 0 10px 10px;
}
